.button {
  display: block;
  padding: 10px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  background-color: $leaf;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $grass;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $grass;
  }

  &--gray {
    background-color: $lightGrey;

    &:hover,
    &:focus {
      background-color: $whiteThree;
    }

    &:active {
      color: rgba($darkGray, 0.3);
      background-color: $whiteThree;
    }
  }
}
