.cooperation {
  background-color: $light-grey;

  &--white-bgc {
    background-color: $white;
  }
}

.cooperation__text {
  @include setFont(16px, $alm-black, 1.25);
  text-transform: uppercase;
}

.cooperation__address {
  @include setFont(14px, $dark-gray, 1.43);
}
