.copyright {
  height: 92px;
  display: flex;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }

  &:hover path,
  &:focus path,
  &:active path {
    fill: $leaf;
  }
}

.copyright__link {
  display: block;
  padding: 31px 0;
  padding-right: 130px;
  margin-left: -1px;

  @include setFont(16px, $darkGray);
  font-family: "Arial", sans-serif;
}

.copyright__logo {
  display: block;
  padding: 10px 0;
  margin-right: -7px;
}

.copyright__logo-image {
  @include size(41px, 57px);

  path {
    fill: $brownishGrey;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    height: auto;
    width: 163px;
  }

  .copyright__link {
    padding: 52px 0;
    padding-right: 15px;
  }

  .copyright__logo {
    padding: 32px 0;
  }

  .copyright__logo-image {
  }
}

@media (min-width: $desktop-width) {
  .copyright {
  }

  .copyright__link {
    padding: 55px 0;
  }

  .copyright__logo {
    padding: 35px 0;
  }

  .copyright__logo-image {
  }
}
