.copyright {
  height: 92px;
  display: flex;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__logo-image,
  &:focus .copyright__logo-image,
  &:active .copyright__logo-image {
    fill: $leaf;
  }
}

.copyright__link {
  display: block;
  padding: 29px 130px 31px 0;
  margin-left: -1px;

  @include setFont(16px, $dark-gray);
  font-family: "Arial", sans-serif;
}

.copyright__logo {
  display: block;
  padding: 10px 0;
  margin-right: -7px;
}

.copyright__logo-image {
  @include size(41px, 57px);

  fill: $brownish-grey;
}

@media #{$tablet} {
  .copyright {
    height: auto;
    width: 163px;
  }

  .copyright__link {
    padding: 66px 15px 52px 0;
  }

  .copyright__logo {
    padding: 46px 0;
  }
}
