.main-nav {
  padding-left: 0;
  padding-right: 0;
}

.main-nav__toggle {
  @include size(25px, 19px);
  @include bgimg(transparent, url("../../img/icon-mobile-menu.svg"));
  background-size: 25px 19px;
  background-position: center center;
  padding: 21px 20px;
  box-sizing: content-box;

  border: 0;
  cursor: pointer;

  &--close {
    @include size(19px, 19px);
    background-image: url("../img/icon-close.svg");

    padding: 23px 22px;
  }
}

.main-nav__list {
}

@media #{$tablet} {
  .main-nav {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media #{$desktop} {
  .main-nav {
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-nav__toggle {
  }
}
