.main-nav {
  @include center($mobile-width);
}

.main-nav__toggle {
  @include size(25px, 19px);
  @include bgimg(transparent, url("../../img/icon-mobile-menu.svg"));

  padding: 0;
  margin: 23px 19px;

  border: 0;
  cursor: pointer;

  &--close {
    @include size(19px, 19px);
    @include bgimg(transparent, url("../img/icon-close.svg"));

    margin: 23px 22px;
  }
}

.main-nav__list {
}

@media (min-width: $tablet-width) {
  .main-nav {
    @include center(708px, 30px);
    display: flex;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    @include center(1220px, 40px);
  }

  .main-nav__toggle {
  }
}
