.page-footer {
  background-color: $light-grey;
}

.page-footer__location {
  position: relative;
}

.page-footer__adress {
  background-color: $light-grey;

  &--white-bgc {
    background-color: $white;
  }
}

.page-footer__map {
  position: relative;
  overflow: hidden;
  height: 362px;
  z-index: 2;

  & iframe {
    @include pseudo();
    @include size(100%, 100%);
    border: none;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

.page-footer__map-img {
  @include pseudo();
  @include size(320px, 362px);
  @include bgimg(
    transparent,
    url("../img/bg-map-mobile@1x.png"),
    no-repeat,
    center bottom 0
  );
  background-size: 320px 400px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media #{$retina} {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  z-index: 1;
}

.page-footer__logo {
  display: block;
  padding: 39px 10px 26px;

  text-align: center;
  border-bottom: 1px solid $white-fore;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  border-bottom: 1px solid $white-fore;
}

@media #{$tablet} {
  .page-footer__map {
    @include size(100%, 396px);
  }

  .page-footer__map-img {
    @include size(768px, 396px);
    @include bgimg(
      transparent,
      url("../img/bg-map-tablet@1x.png"),
      no-repeat,
      center bottom 0
    );
    background-size: 767px 400px;

    @media #{$retina} {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    padding: 64px 1px 60px;
    margin-right: 30px;

    text-align: left;
    border-bottom: none;
  }

  .page-footer__social {
    border-bottom: none;
  }
}

@media #{$desktop} {
  .page-footer__cooperation {
    @include pseudo();
    @include size(570px, 201px);
    top: 95px;
    left: calc(50% - 610px);
    z-index: 4;
  }

  .page-footer__map {
    @include size(100%, 400px);
  }

  .page-footer__map-img {
    @include size(1440px, 400px);
    @include bgimg(
      transparent,
      url("../img/bg-map-desktop@1x.png"),
      no-repeat,
      center bottom 0
    );
    background-size: 1440px, 400px;

    @media #{$retina} {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .page-footer__logo {
    margin-right: 30px;
  }
}
