.page-footer {
  background-color: $light-grey;
}

.page-footer__location {
  margin: 0 -20px;
}

.page-footer__logo {
  display: block;
  padding: 26px 10px 29px;

  text-align: center;
  border-bottom: 1px solid $white-fore;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  border-bottom: 1px solid $white-fore;
}

@media #{$tablet} {
  .page-footer__location {
    margin: 0 -30px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    padding: 50px 1px 60px;
    margin-right: 30px;

    text-align: left;
    border-bottom: none;
  }

  .page-footer__social {
    border-bottom: none;
  }
}

@media #{$desktop} {
  .page-footer__location {
    margin: 0 -40px;
  }

  .page-footer__logo {
    padding: 50px 1px 60px;
    margin-right: 30px;
  }
}
