.product {
  border: 1px solid $white-five;
}

.product__link {
}

.product__title {
  @include setFont(16px, $alm-black, 1.25);
}

.product__image {
}

.product__property-list {
}

.product__property-term {
  font-family: "Arial", sans-serif;

  @include setFont(12px, $dark-gray, 1.33);
}

.product__property-definition {
  font-family: "Arial", sans-serif;

  @include setFont(12px, $dark-gray, 1.33);
}

.product__buy-btn {
  @include setFont(16px, $white, 1.25);
}
