.product {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 25px;
  outline: 1px solid $white-five;
}

.product__link-img {
  line-height: 0;
}

.product__image {
}

.product__wrapper {
  width: 140px;
}

.product__link-title {
  display: block;
  width: 125px;
}

.product__title {
  margin: 0;
  padding: 22px 45px 14px 0;

  @include setFont(16px, $alm-black, 1.25);
  text-transform: uppercase;
  word-break: break-all;
}

.product__property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.product__property-term {
  width: 55px;
  padding-bottom: 1px;

  @include setFont(12px, $dark-gray, 1.33);
  font-family: "Arial", sans-serif;
}

.product__property-definition {
  width: 55px;
  margin: 0;
  margin-right: -1px;

  @include setFont(12px, $dark-gray, 1.33);
  font-family: "Arial", sans-serif;
  text-align: right;
}

.product__buy-btn {
  @include setFont(16px, $white, 1.25);
  flex-grow: 1;
  padding-left: 13px;
}

@media #{$tablet} {
}

@media #{$desktop} {
}
