.program {
}

.program__list {
  @include list(0);
  margin: 22px 0 17px;
}

.program__item {
  position: relative;
  margin: 0;
  margin-top: 20px;

  background-color: $light-grey;

  &::before {
    @include pseudo;
    top: 24px;
    left: 22px;

    border: 25px solid $leaf;
    border-radius: 50%;
  }

  &--slim {
    &::after {
      @include pseudo(url("../img/icon-cat-slim.svg"));
      @include size(35px, 49px);
      top: 22px;
      left: 30px;
    }
  }

  &--pro {
    &::after {
      @include pseudo(url("../img/icon-cat-pro.svg"));
      @include size(67px, 28px);
      top: 35px;
      left: 13px;
    }
  }
}

.program__item-wrapper {
  padding: 20px;
}

.program__title {
  margin: 0;
  padding: 10px 0 16px 71px;

  @include setFont(24px, $alm-black, 1.54);
  text-transform: uppercase;
}

.program__description {
  margin: 0;
  padding: 14px 0 21px;

  @include setFont(14px, $dark-gray, 1.29);
  font-family: "Arial", sans-serif;

  border-bottom: 1px solid $white-fore;
}

.program__link-catalog {
  position: relative;
  display: block;
  padding: 20px 50px 2px 0;
  margin-right: 100px;
  width: 140px;

  @include setFont(16px);
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &::after {
    @include pseudo(url("../img/icon-right-arrow-long.svg"));
    @include size(25px, 12px);
    top: 19px;
    right: 20px;
  }
}

@media #{$tablet} {
  .program {
  }

  .program__list {
    margin: 20px 0;
  }

  .program__item {
    margin-bottom: 30px;

    &::before {
      top: 92px;
      left: auto;
      right: 61px;

      border: 100px solid $leaf;
    }

    &--slim {
      .program__item-wrapper {
        width: 478px;
      }

      &::after {
        @include size(141px, 194px);
        top: 80px;
        left: auto;
        right: 92px;
      }
    }

    &--pro {
      .program__item-wrapper {
        width: 448px;
      }

      &::after {
        @include size(268px, 113px);
        top: 135px;
        left: auto;
        right: 28px;
      }
    }
  }

  .program__item-wrapper {
    padding: 52px;
  }

  .program__title {
    padding: 24px 0 11px;

    @include setFont(36px, $alm-black, 1.03);
  }

  .program__description {
    padding: 14px 0 37px;

    @include setFont(16px, $dark-gray, 1.5);

    border-bottom: none;
  }

  .program__link-catalog {
    padding: 20px 70px 9px 0;
    margin-right: 170px;
    width: 200px;

    @include setFont(20px);

    &::after {
      @include size(24px, 11px);
      top: 16px;
      right: 47px;
    }
  }
}

@media #{$desktop} {
  .program {
  }

  .program__list {
    margin: 80px 0 74px;
    display: flex;
    justify-content: space-between;
  }

  .program__item {
    margin: 0;
    width: 570px;

    &::before {
      top: 47px;
      left: 52px;
      right: auto;

      border: 50px solid $leaf;
    }

    &--slim {
      .program__item-wrapper {
        width: auto;
      }

      &::after {
        @include size(71px, 97px);
        top: 41px;
        left: 65px;
        right: auto;
      }
    }

    &--pro {
      .program__item-wrapper {
        width: auto;
      }

      &::after {
        @include size(134px, 57px);
        top: 69px;
        left: 34px;
        right: auto;
      }
    }
  }

  .program__item-wrapper {
    padding: 52px;
  }

  .program__title {
    padding-left: 162px;
  }

  .program__description {
    padding: 64px 0 12px;
  }

  .program__link-catalog {
    margin-right: 270px;

    &::after {
      @include size(25px, 12px);
    }
  }
}
