.show {
  border: 1px solid $whiteFive;
}

.show__title {
  @include setFont(16px, $almBlack, 1.25);
  text-transform: uppercase;
  text-align: center;
}

.show__description {
  @include setFont(12px, $darkGray, 1.33);
  text-align: center;
}

.show__btn {
  @include setFont(16px, $darkGray, 1.25);
}
