.social {
  @include list(0);
  margin: 0;
  min-height: 62px;
  display: flex;
  justify-content: center;
}

.social__item {
  width: 62px;
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    svg {
      fill: $leaf;
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      fill: $leaf;
    }
  }

  svg {
    fill: $brownish-grey;
  }

  &--vk {
    padding: 22px 14px 22px 26px;

    svg {
      @include size(22px, 12px);
    }
  }

  &--instagram {
    padding: 24px 22px 19px 22px;

    svg {
      @include size(17px, 17px);
    }
  }

  &--fb {
    padding: 22px 31px 19px 13px;

    svg {
      @include size(18px, 19px);
    }
  }
}

@media #{$tablet} {
  .social {
    min-height: auto;
  }

  .social__item {
    width: 62px;
  }

  .social__link {
    &--vk {
      padding: 52px 6px 52px 24px;

      svg {
        @include size(30px, 16px);
      }
    }

    &--instagram {
      padding: 50px 20px;

      svg {
        @include size(23px, 23px);
      }
    }

    &--fb {
      padding: 46px 20px 46px 10px;

      svg {
        @include size(14px, 28px);
      }
    }
  }
}
