body {
  min-width: $mobile-width;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;

  background-color: $white;
}

// Временно в качетве фонового изображения
// body {
//   background: white url("../img/temp/cat-energy-index-mobile.png") no-repeat 50% 0;
// }

// @media (min-width: $tablet-width) {
//   body {
//     background: white url("../img/temp/cat-energy-index-tablet.png") no-repeat 50% 0;
//   }
// }

// @media (min-width: $desktop-width) {
//   body {
//     background: white url("../img/temp/cat-energy-index-desktop.png") no-repeat 50% 0;
//   }
// }

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
