//Цвета
$leaf: #68b738;
$white: #ffffff;
$grass: #5eaa2f;
$alm-black: #111111;
$light-black: #222222;
$dark-gray: #444444;
$light-grey: #f2f2f2;
$brownish-grey: #666666;
$white-three: #ebebeb;
$white-five: #ededed;
$white-two: #e6e6e6;
$white-fore: #d9d9d9;
$white-six: #cdcdcd;
$white-seven: #eaeaea;
$white-eight: #dcdcdc;

// Размеры
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;

//Медиа выражения
$mobile: "(min-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width})";
$desktop: "(min-width: #{$desktop-width})";

$mobile-only: "(max-width: #{$mobile-width-only})";

$retina-dppx: 1.5dppx;

$retina: "(min-resolution: #{$retina-dppx})";
// @media #{$tablet} {

// }

// @media #{$desktop} {

// }

// @media #{$retina} {

// }
